<div class="helloWrapper">
	<section data-ng-controller="HelloController" data-ng-init="find()">
	  <div class="hello-case">
	  	<div class="hello-item" ng-repeat="hello in hellos" >
	  		<span class="hello">Hello World!</span><small ng-bind="hello.stime"></small>
	  	</div>
	  </div>
	</section>
</div>
