.helloWrapper {
	padding: 50px 0;
}

.hello-case {

}

.hello-item {
	padding: 15px 10px;
	border-bottom: 1px solid #eee;
}

.hello {
	font-size: 25px;
	font-weight: 500;
	margin-right: 10px;
}

small {
	color:#999;
}